[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.suo
*.userprefs

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.nupkg
*.snupkg
packages/

*.log

.DS_Store
Thumbs.db

.idea/
_ReSharper*/
.[Rr]e[Ss]harper

.vscode/